@charset "UTF-8";

/*=========================================================
  Reset
=========================================================*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button, select, option {
	margin:0; 
	padding:0; 
	border:0; 
	font-family:'Pretendard','Poppins', Helvetica, "Apple SD Gothic Neo",Dotum, 돋움, sans-serif; 
	font-size:100%; 
	vertical-align:baseline; 
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-ms-box-sizing:border-box;
}

input[type="search"],input[type="text"],input[type="email"],input[type="number"],button,input[type="submit"],input[type="reset"],button,input[type="tel"],button,input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {
	box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	margin:0; 
	padding:0; 
	border:none; 
	border-radius:0; 
	background:none; 
	font-family:'Pretendard','Poppins',Helvetica, "Apple SD Gothic Neo",Dotum, 돋움, sans-serif;
	font-size:100%;
	-webkit-appearance:none; 
	appearance:none; 
	-moz-appearance:none; 
	-o-appearance:none; 
	-webkit-border-radius:0; 
	-moz-border-radius:0; 
}

label{
	cursor:pointer;
}

body {
	position:relative; 
	background:var(--site-background); 
	line-height:1.7; 
	color:var(--font-color);
	word-wrap:break-word; 
	word-break:keep-all; 
	text-size-adjust:none; 
	-webkit-text-size-adjust:none; 
	-moz-text-size-adjust:none;
	font-weight:400;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

input:focus,button:focus {
	border:none;
}

table {
	border-spacing:0;
}

ul,ol,li {
	margin:0; 
	padding:0;
}

li {
	list-style:none;
}

a:focus {
	outline:none !important;
}

a {
	text-decoration:none;
}

:invalid {
	box-shadow:none;
}

:-moz-submit-invalid {
	box-shadow:none;
}

:-moz-ui-invalid {
	box-shadow:none;
}

button::-moz-focus-inner {
	margin-top:-2px; 
	margin-bottom:-2px;
	padding:0; 
	border:0;
}

input::-moz-focus-inner {
	margin-top:-2px; 
	margin-bottom:-2px;
	padding:0; 
	border:0;
}

img {
	max-width:100%;
	height:auto;
}

button:hover {
	cursor:pointer;
}

button {
	background:transparent;
}

textarea:focus {
	outline:none;
}

:focus {
	outline:none;
}

html {
	overflow-y:scroll;
	-webkit-font-smoothing:antialiased; 
	-moz-osx-font-smoothing:grayscale;
}

input[type=text]::-ms-clear {
	display:none;
}

input[type=email]::-ms-clear {
	display:none;
}

input[type=number]::-ms-clear {
	display:none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

sup{
	font-size:0.75em;
	vertical-align: top;
}

sub{
	font-size:0.75em;
	vertical-align: bottom;
}

select{
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0; 
	border:none; 
	border-radius:0; 
	background:none;
	font-size:100%;
	-webkit-appearance:none ;
	appearance:none; 
	-moz-appearance:none; 
	-ms-appearance:none;
	-o-appearance:none; 
	-webkit-border-radius:0;
	-moz-border-radius:0; 
	-o-box-sizing:border-box;
}

select::-ms-expand {
	display: none;
}

::-webkit-file-upload-button {
	cursor:pointer;
}

html {
	font-size:16px;
}

.ab-text{
	overflow: hidden; 
	display:block; 
	position:absolute; 
	border: 0; 
	width: 1px; 
	height: 1px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html.is-Hidden{
	overflow:hidden;
}

.text-bold{
	font-weight:bold;
}

.text-center{
	text-align:center !important;
}

/*=========================================================
  변수값
=========================================================*/
:root {
   --vh: 100%;
   --font-color: #000;
   --site-background:#fff;
}

body.theme-Dark{
	--font-color: #fff;
	--site-background:#333;
}

/* wordpress reset
=========================================================*/
@media screen and (max-width: 600px) {
  #wpadminbar {
	  position:fixed !important; 
	  top:0; 
	  left:0;
  }
}

.edit-link{
	display:none;
}

/*=========================================================
  Layout
=========================================================*/
.site{
	overflow:hidden;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.admin-bar .site{
	min-height:calc(100vh - 32px);
}

@media screen and (max-width: 782px) {
	.admin-bar .site{
		min-height:calc(100vh - 46px);
	}
}

@media screen and  (min-width: 783px) {
  .admin-bar .site-header{
	top:32px;
  }
}
@media screen and (max-width: 782px) {
  .admin-bar .site-header{
	top:46px;
  }
}

.site-content {
	flex: 1;
}

.site-content:after{
	content:"";
	display:table;
	clear:both;
}

.site-container{
	max-width: 113.5rem;
	margin:0 auto;
	position: relative;
	padding:0 3rem;
}

.site-container:after{
	content: "";
	display: table;
	clear: both;
}

.page-container{
	max-width: 126rem;
	margin:0 auto;
	position: relative;
	padding:0 3rem;
	display:block;
}

.page-container:after{
	content: "";
	display: table;
	clear: both;
}

.single-container{
	max-width: 62.375rem;
	margin:0 auto;
	position: relative;
	padding:0 3rem;
	display:block;
}

.single-container:after{
	content: "";
	display: table;
	clear: both;
}

.row-container{
	max-width: 90.875rem;
	margin:0 auto;
	position: relative;
	padding:0 3rem;
	display:block;
}

.row-container:after{
	content: "";
	display: table;
	clear: both;
}

.site-footer{
	flex-shrink: 0;
}

/*=========================================================
  Swiper Basic CSS
=========================================================*/
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translate3d(0px, 0, 0);
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-fade .swiper-slide{
    transition-property: opacity;
}

.swiper-button-disabled {
  opacity: 0.15 !important;
  cursor: auto;
  pointer-events: none;
}

.is-slide_disable .swiper-button-prev {
  display: none;
}

.is-slide_disable .swiper-button-next {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 1px;
  height: 98%;
}

.swiper-scrollbar-drag {
  opacity:0;
  height: 0px;
  width: 100%;
  position: relative;
  background-color: #000;
  border-radius: 10px;
  left: -1px;
  top: 0;
  width: 3px;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-button-lock {
  display: none !important;
}

/* ============================================================
   color
==============================================================*/
.color-white{
	color:#fff !important;
}

.color-pink{
	color:#FF008E !important;
}

.color-purple{
	color:#722EA5 !important;
}

.color-gray{
	color:#666 !important;
}


/* ============================================================
   Margin
==============================================================*/
/*	Margin:bottom
==============================================================*/
.mb190{
	margin-bottom:11.875rem !important;
}

.mb170{
	margin-bottom:10.625rem !important;
}

.mb160{
	margin-bottom:10rem !important;
}

.mb145{
	margin-bottom:9.063rem !important;
}

.mb140{
	margin-bottom:8.75rem !important;
}

.mb135{
	margin-bottom:8.438rem !important;
}

.mb130{
	margin-bottom:8.125rem !important;
}

.mb120{
	margin-bottom:7.5rem !important;
}

.mb110{
	margin-bottom:6.875rem !important;
}

.mb100{
	margin-bottom:6.25rem !important;
}

.mb90{
	margin-bottom:5.625rem !important;
}

.mb80{
	margin-bottom:5rem !important;
}

.mb70{
	margin-bottom:4.375rem !important;
}

.mb65{
	margin-bottom:4.0625rem !important;
}

.mb60{
	margin-bottom:3.75rem !important;
}

.mb50{
	margin-bottom:3.125rem !important;
}

.mb45{
	margin-bottom:2.813rem !important;
}

.mb40{
	margin-bottom:2.5rem !important;
}

.mb35{
	margin-bottom:2.188rem !important;
}

.mb30{
	margin-bottom:1.875rem !important;
}

.mb25{
	margin-bottom:1.563rem !important;
}

.mb20{
	margin-bottom:1.25rem !important;
}

.mb15{
	margin-bottom:0.938rem !important;
}

.mb10{
	margin-bottom:0.625rem !important;
}

.mb5{
	margin-bottom:0.313rem !important;
}

.mb0{
	margin-bottom:0px !important;
}

/*	Margin:top
==============================================================*/
.mt170{
	margin-top:10.625rem !important;
}

.mt145{
	margin-top:9.063rem !important;
}

.mt140{
	margin-top:8.75rem !important;
}

.mt130{
	margin-top:8.125rem !important;
}

.mt120{
	margin-top:7.5rem !important;
}

.mt110{
	margin-top:6.875rem !important;
}

.mt100{
	margin-top:6.25rem !important;
}

.mt90{
	margin-top:5.625rem !important;
}

.mt80{
	margin-top:5rem !important;
}

.mt70{
	margin-top:4.375rem !important;
}

.mt65{
	margin-top:4.0625rem !important;
}

.mt60{
	margin-top:3.75rem !important;
}

.mt50{
	margin-top:3.125rem !important;
}

.mt45{
	margin-top:2.813rem !important;
}

.mt40{
	margin-top:2.5rem !important;
}

.mt35{
	margin-top:2.188rem !important;
}

.mt30{
	margin-top:1.875rem !important;
}

.mt25{
	margin-top:1.563rem !important;
}

.mt20{
	margin-top:1.25rem !important;
}

.mt15{
	margin-top:0.938rem !important;
}

.mt10{
	margin-top:0.625rem !important;
}

.mt5{
	margin-top:0.313rem !important;
}

.mt0{
	margin-top:0px !important;
}

@media screen and (max-width:1024px) and (min-width:748px){
	.mb190{
		margin-bottom: 8rem !important;
	}
	
	.mb160{
		margin-bottom: 7rem !important;
	}
}

@media screen and (max-width:747px) and (min-width:1px){
	.mb190{
		margin-bottom: 8rem !important;
	}
	
	.mb160{
		margin-bottom: 7rem !important;
	}
}

/* ============================================================
   Responsive Html Font
==============================================================*/
@media screen and (max-width:1920px) and (min-width:1281px){
	html{
		font-size:0.83333vw;
	}
}

@media screen and (max-width:1280px) and (min-width:1025px){
	html{
		font-size:1.0731vw;
	}
}

@media screen and (max-width:1024px) and (min-width:769px){
	html{
		font-size:1.5625vw;
	}
	
	.site-container{
		padding:0 2rem;
	}
	
	.page-container{
		padding:0 2rem;
	}
	
	.single-container{
		padding:0 2rem;
	}
	
	.row-container{
		padding:0 2rem;
	}
}

@media screen and (max-width:768px) and (min-width:581px){
	html{
		font-size:2.0833vw;
	}
	
	.site-container{
		padding:0 2rem;
	}
	
	.page-container{
		padding:0 2rem;
	}
	
	.single-container{
		padding:0 2rem;
	}
	
	.row-container{
		padding:0 2rem;
	}
}

@media screen and (max-width:580px) and (min-width:420px){
	html{
		font-size:2.75862vw;
	}
	
	.site-container{
		padding:0 2rem;
	}
	
	.page-container{
		padding:0 2rem;
	}
	
	.single-container{
		padding:0 2rem;
	}
	
	.row-container{
		padding:0 2rem;
	}
}

@media screen and (max-width:419px) and (min-width:1px){
	html{
		font-size:3.81861vw;
	}
	
	.site-container{
		padding: 0 1.5rem;
	}
	
	.page-container{
		padding:0 1.5rem;
	}
	
	.single-container{
		padding:0 1.5rem;
	}
	
	.row-container{
		padding:0 1.5rem;
	}
}
