/* #B4D0E5 #EAF1F5 #577C93 #1E445B  */
:root {
    --color-mac : #38080a;
    --color-seoulmilk : #2d3939;
    --color-samapharm : #0d2858;
    --color-watchapedia : #ab052c;
}
body {cursor: none; min-width:380px;}
#load {
    position:absolute; z-index: 999; width:100%; height:100%;
    opacity:1; transition:.3s; pointer-events: none;
    display:flex; justify-content: center; align-items: center;
    background-image: linear-gradient(180deg, #B6D2E7 0%, #FAF7F7 100%);
}
#load img {animation:rotate 5s linear infinite; width:64px;}
#cursor {
    pointer-events: none; /* 아래에 놓인 요소 커서 이벤트 막지 않도록 */
    position:fixed; top:-10%; left:-10%; transform: translate(-50%,-50%); z-index:999;
    width:30px; height:30px; border-radius: 50%; transition:width .5s, height .5s;
    background: #000; mix-blend-mode: soft-light; opacity:0;
}
#cursor.active {
    width:60px; height:60px; 
    background: #577C93; mix-blend-mode: screen;
}
#cursor.ani_on {animation:fadeIn 1.5s 3.5s both;}
.section_bg {
    position:fixed; top:0; height:0; width:100%; height:100%;
    background-position:bottom;
    animation:bgMove 100s linear infinite;
}
.section_bg.bg1 {
    background-image:linear-gradient(180deg, hsl(206, 49%, 80%) 0%, hsl(202, 35%, 94%) 100%);
}
.section_bg.bg2 {
    background-image:url(../images/cloud_panorama1.png), url(../images/cloud_panorama2.png);
}
.layer_btm_gradient {
    opacity:0; background-image:linear-gradient(transparent 30%, #B4D0E5 50%, #B4D0E5 52%, transparent 80%);
    width: 100%; height:200%; pointer-events: none; 
    position: absolute; top:0; left: 0px; z-index: 1;
}

/* fp_side_nav */
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 16px; width: 16px; margin: -8px 0 0 -8px;
    background: 0;
    background-image: url(../images/icon_side_nav.svg); background-size: cover; filter: grayscale(1) brightness(2);
    animation:rotate 3s linear infinite;
}


/*
header
*/
header {
    position:fixed; z-index: 800;
    width:100%; height:60px; padding:0 24px;
    display:flex; justify-content: flex-end; align-items: center;
    border-bottom:1px solid #ffffff77;
    opacity:0;
}
header.ani_on{animation:slideDown 1s 4.4s both, fadeIn 1s 4.4s both;}
header a {
    color: #FFFFFF; text-shadow: 0px 2px 5px rgba(87, 124, 147, 0.3);
    font-family: 'Montserrat';  white-space: nowrap;  font-weight:500;
}
header a .mobile_skip {color:inherit; font-family:inherit; font-weight:inherit;}
header h1 {
    transform:rotate(90deg) translateY(-100%); transform-origin: top left;
    position:absolute; top:24px; left:24px;
}
header h1 a {font-weight: 600; letter-spacing:0.5em;}
header h1 a:hover {opacity:.5;}


/* nav */
header ul {
    height:100%;
    display:flex; align-items: stretch; /* li 높이 100 차지하게 stretch */
}
header ul li {
    position:relative; display:flex; align-items: center;
    transition:.3s;
}
header ul li a {letter-spacing: 0.02em; padding:16px 20px;}
header ul li .sub {
    background:#ffffffcc; width:100%; height:0; overflow:hidden;
    flex-flow:column nowrap; gap:0;
    position:absolute; top:100%;  z-index:-1;
}
header ul li .sub li {width:100%;}
header ul li .sub li a {
    width:100%; text-align:center; 
    text-shadow:none; font-size:0.875rem; color:#577C93;
    font-weight:600; padding:12px; transition:.3s;
}
/* nav mouseover, active */
header ul li.sub_on .sub {height:152px; /* 38*4px */}
header > ul > li:hover {background:#ffffffcc;}
header > ul > li:hover > a {color:#577C93;}
header > ul > li.active,
header > ul > li.subpage_on {background:#ffffff33;}
header ul li .sub li a:hover {opacity:1; background:#577C93; color:#fff;}


/* 
section 공통
*/
.section {position:relative; height: 100%; scroll-behavior: unset;}
.section .layer {
    position: absolute;
    top: 0; width: 100%; height: 100%;
    background-size: cover; background-position: center;
    background-repeat:no-repeat;
}


/* 
intro
*/
#intro {overflow: hidden;}
#intro .layer {-webkit-transform: translate3d(0,0,0);}
#intro .layer1 {background-image: url(../images/cloud_panorama0111.jpg);}
#intro .layer1.ani_on {animation:bgMove 150s linear infinite alternate;}
/* #intro .layer2 {background-image: url(../images/city.png); opacity:0; margin-top: 20rem;} */
#intro .layer2.ani_on {animation:fadeIn .6s .2s both, slideUp5 .6s .2s both;}
/* #intro .layer3 {background-image: url(../images/03grass_1920.png); opacity:0;} */
/* #intro .layer3 {background-image: url(../images/바다.png); opacity:0; margin-top: 25rem;} */
#intro .layer3.ani_on {animation:fadeIn .6s .4s both, slideUp5 .6s .4s both;}
/* #intro .layer4 {background-image: url(../images/04grass_1920.png); opacity:0;} */
/* #intro .layer4 {background-image: url(../images/모래.png); opacity:0; margin-top: 30rem;} */
#intro .layer4.ani_on {animation:fadeIn .6s .6s both, slideUp5 .6s .6s both;}


#intro .title {
    position:absolute; top:0; width:100%; height:100%;
    -webkit-transform: translate3d(0,0,0);
}
#intro .title .title_container {
    position:absolute; top:45%; left:52%; transform:translate(-50%,-50%);
}
#intro .title .title_container h1 {
    text-align: center; font-weight:300;
    color:#ffffff; text-shadow:10px 8px 2px #00000033;
    transition:.5s;
}
#intro .title .title_container h1:nth-child(1) {
    display:flex; gap:12px; align-items:center;
}
#intro .title .title_container h1:nth-child(2) {
    font-family: 'DM Serif Display', serif; font-size:9.375rem;
    white-space: nowrap; opacity:0;
}
#intro .title .title_container h1:nth-child(2) {opacity:0;}
#intro .title .title_container h1:nth-child(2).ani_on {animation:slideUp20 .8s 1.2s both, fadeIn 1.2s 1.2s both;}
#intro .title .title_container h1 span {
    white-space:nowrap; font-size:1.5rem; font-weight:300;
}
#intro .title .title_container h1 span strong {
    font-weight:700;
    color:#ffffff; text-shadow:0 2px 10px #22405a55;
}
#intro .title .title_container h1 .line {
    display:block; width:100%; height:1px;
    position:relative;
}
#intro .title .title_container h1 span:nth-child(1) {opacity:0;}
#intro .title .title_container h1 span:nth-child(1).ani_on {
    animation:slideUp20 1s 2s both, fadeIn 1.2s 2s both;
}
#intro .title .title_container h1 .line::after {
    display:block; content:'';
    position:absolute; top:0; left:0; height:100%;
    background:#fff;
}
#intro .title .title_container h1 .line.ani_on::after {animation:wipe 1s 2.4s both;}
#intro .title .title_container h1 span:nth-child(3) {opacity:0;}
#intro .title .title_container h1 span:nth-child(3).ani_on {animation:slideUp20 1s 3.4s both, fadeIn 1.2s 3.4s both;}
#intro .bird {
    position:absolute; left:-5%;
    width:48px; height:40px;
    background-size:480px; /* frame 10장 sprite */
    background-image : url(../images/bird_sprite.png);
    background-position : 0px; /* js */
    transition:left .5s;
    filter:blur(0.8px) contrast(0.2); mix-blend-mode: color-burn;
}
#intro .bird.ani_on {
    animation:birdMoveV 1s cubic-bezier(0.27, 0.06, 0.65, 0.96) alternate infinite,
    birdMoveH 10s linear infinite;
}
#intro .scrolldown {
    position:absolute; bottom:60px;
    left: 50%; transform: translateX(-50%);
    background:#25271d33; border-radius: 50%;
    animation:fadeIn 1s 5s both;
}
#intro .scrolldown p {box-shadow:0 0 10px #25271d;}
#intro .scrolldown p.mouse_outline {
    width:30px; height:48px;
    border-radius: 12px; border:2px solid #fff;
}
#intro .scrolldown p.mouse_wheel {
    width:4px; height:12px; border-radius: 2px; background: #fff;
    position:absolute; top:8px; left:calc(50% - 2px);
    animation:slideUp50 1s linear reverse infinite;
}


/* 
about
*/
#about {z-index:1;}
#about .contents_wrap {
    margin:0 auto;
    display:flex; flex-flow:row nowrap; 
    /* justify-content:space-around;  */
    align-items: center;
    /* padding:0 60px; */
    padding-left: 128px;
    max-width: 1400px;
    gap:190px; 
}
#about .contents_wrap .photo {
    background-size:cover; background-position:top;
    background-color: #ffffff33;
    background-image:url(../images/IMG_704811.jpg);
    /* inear-gradient(180deg,#ffffff77,#B4D0E5); */
    width:30%; padding-bottom:30%;
    border-radius: 50%;
}
#about .contents_wrap .info_all {
    display:grid; flex-flow: row wrap; 
    grid-template:max-content max-content / 40% calc(60% - 24px);
    gap:60px 64px;
}
#about .contents_wrap .info_all .info {display:flex; flex-flow:column nowrap;  gap:16px;}
#about .contents_wrap .info_all .info h2 {
    font-size:1.25rem; color: #1E445B;
    font-family: 'Montserrat'; font-weight: 600;
}
#about .contents_wrap .info_all .info ul {display:flex; flex-flow:column nowrap; gap:12px;}
#about .contents_wrap .info_all .info ul li {color: #577C93; display:flex; gap:12px;}
#about .contents_wrap .info_all .info ul li p {line-height:1.3;}
#about .contents_wrap .info_all .info ul li p.mail {word-break: break-all;}
#about .contents_wrap .info_all .info ul li p:nth-child(1) {
    font-weight: 600; font-family: 'Montserrat'; font-style: normal;
    width:40px; white-space: nowrap;
}
#about .contents_wrap .info_all .info.profile ul li p:nth-child(1) {width:60px;}
#about .contents_wrap .info_all .info.skills ul li p:nth-child(1) {width:110px;}
#about .contents_wrap .info_all .info ul li p:nth-child(2) {
    letter-spacing: -0.04em; font-weight:500; opacity:.8;
    transform:translateY(-1px); width:80%;
}
#about .contents_wrap .info_all .info.skills ul li p.level {display:flex; gap:5px; align-items: center;}
#about .contents_wrap .info_all .info.skills ul li p.level span {width:20px; height:3px; border-radius: 2px;}
#about .contents_wrap .info_all .info.skills ul li p.level span.fill {background:#577C93;}
#about .contents_wrap .info_all .info.skills ul li p.level span.empty {background:#B4D0E5;}


/*
web 공통
*/
.web_section {
    /* css 변수 생성해서 after 요소에 값 적용하기! */
    /* 스크립트로는 가상요소를 선택할 수 없기 때문 */
    --afterWidth: 100%; --afterHeight: 70%; --afterBg : #ffffffcc;
}
.web_section::after {
    display:block; content:''; z-index:0;
    position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);
    transition:.3s;
    width: var(--afterWidth); height: var(--afterHeight); background:var(--afterBg);
}
.web_section .contents {
    /* background:firebrick; */
    width:min(100%,1400px);
    display:flex; justify-content: center; align-items: center;
    gap:80px; margin: 0 auto; 
    padding:0 60px; z-index:1;
}
.web_section .contents .mockup_all {
    transition:.5s;
    display:flex; width:600px;
    position:relative; z-index:1;
    margin-right:60px; transform:scale(.8);
}
.web_section .contents .mockup_all.scrollOn {transform:scale(1);}
.web_section .contents .mockup_all.desktop_only {margin-right:0;}
.web_section .contents .mockup_all .mockup {}
.web_section .contents .mockup_all .mockup.desktop {width:100%;}
.web_section .contents .mockup_all .mockup.mobile {
    position: absolute; width:20%; right: -10%; bottom:0; z-index:1;
}
.web_section .contents .mockup_all .mockup::after { /* 그림자 */
    display:block; content:'';
    position:absolute; left:50%; transform: translateX(-50%);
    background-size: contain; 
}
.web_section .contents .mockup_all .mockup.desktop::after {
    background-image:url(../images/mockup_desktop_shadow.png);
    top:84%; /* 100-16 */  width:80%; padding-bottom:16%;  /* 이미지 비율 */
}
.web_section .contents .mockup_all .mockup.mobile::after {
    background-image: url(../images/mockup_mobile_shadow.png);
    top: 105%; width: 100%; padding-bottom: 12.5%; filter:blur(2px);
}
.web_section .contents .mockup_all .mockup p {}
.web_section .contents .mockup_all .mockup .screenshot {
    position:absolute; left:50%; transform:translateX(-50%);
    overflow: hidden;
}
.web_section .contents .mockup_all .mockup.desktop .screenshot {
    width:98%; height:80%; border-radius: 2%;  top:2%;
}
.web_section .contents .mockup_all .mockup.mobile .screenshot {
    width:88%; height:98%; border-radius: 8%; top:2%;
}
.web_section .contents .mockup_all .mockup .screenshot img {width:100%;}
.web_section .contents .mockup_all .mockup .frame {
    width:100%; position:relative; z-index:1;
    background-size:contain; background-position:center; background-repeat: no-repeat;
}
.web_section .contents .mockup_all .mockup.desktop .frame {
    padding-bottom:80%; /* 비율 유지 */ background-image:url(../images/mockup_desktop.png);
}
.web_section .contents .mockup_all .mockup.mobile .frame {
    padding-bottom:200%; background-image:url(../images/mockup_mobile.png);
}
.web_section .contents .info {
    /* background:seagreen; */
    transition:.5s; z-index:1;
    display:flex; flex-flow:column nowrap; gap:20px;
    opacity:0; transform:translateY(20%);
    width:400px;
}
.web_section .contents .info.scrollOn {opacity:1; transform:translateY(0);}
.web_section .contents .info .title {}
.web_section .contents .info .title h1 {
    font-family: 'Montserrat'; font-weight: 600; font-size: 1.75rem;
}
.web_section .contents .info .title .description {margin-top:8px; font-weight:500; opacity:.9;}
.web_section .contents .info .title .description::after {
    display:block; content:''; width:90%; height:1px;
    margin-top:20px; opacity:.3;
}
.web_section .contents .info ul {display:flex; flex-flow:column nowrap; gap:6px; opacity:.7;}
.web_section .contents .info ul li {display:flex;}
.web_section .contents .info ul li span {line-height: 1.3;}
.web_section .contents .info ul li span:nth-child(1) {width:100px; font-weight:600; font-family: 'Montserrat';  letter-spacing: 0.02em;}
.web_section .contents .info ul li span:nth-child(2) {width:300px; font-size:0.875rem; letter-spacing: 0.02em; font-weight: 500;}
.web_section .contents .info .link {display:flex; gap:10px;}
.web_section .contents .info .link a {
    padding:8px 16px; border-radius:5px;
    font-family: 'Montserrat'; font-size: 0.875rem; font-weight:700;
    border:2px solid; border-top-width: 1px; border-left-width: 1px;
    transition:.3s;
}
.web_section .contents .info .link a:hover {color:#fff; font-weight:500; letter-spacing: 0.03em; }
.web_section .bg_circle {
    position: absolute;
    top:50%; left:40%; transform:translate(-50%,-50%);
    width: 0; height:0; border-radius: 1500px;
    z-index: 0; transition:1s ease-out; opacity:.6;
}
.web_section .bg_circle.active {
    border-radius: 0px;
    width:max(200vw,200vh); height:max(200vw,200vh); opacity:.9;
}


/*
web 개별
*/
#mac {color:var(--color-mac); border-color: var(--color-mac);}
#mac .description::after {background-color: var(--color-mac);}
#mac .contents .info .link a:hover {background-color: var(--color-mac); border-color:var(--color-mac);}
#mac .bg_circle {background-image:linear-gradient(150deg, rgb(110 5 5) 35%,rgb(0,0,0) 65%);}
#seoulmilk {color:var(--color-seoulmilk);}
#seoulmilk .description::after {background-color: var(--color-seoulmilk);}
#seoulmilk .contents .info .link a:hover {background-color: var(--color-seoulmilk); border-color:var(--color-seoulmilk);}
#seoulmilk .bg_circle {background-image:linear-gradient(150deg, rgb(101 129 106) 35%,rgb(193 193 193) 65%);}
#samapharm {color:var(--color-samapharm);}
#samapharm .description::after {background-color: var(--color-samapharm);}
#samapharm .contents .info .link a:hover {background-color: var(--color-samapharm); border-color:var(--color-samapharm);}
#samapharm .bg_circle {background-image:linear-gradient(150deg, rgb(9 39 66) 35%,rgb(0,0,0) 65%);}
#watchapedia {color:var(--color-watchapedia);}
#watchapedia .description::after {background-color: var(--color-watchapedia);}
#watchapedia .contents .info .link a:hover {background-color: var(--color-watchapedia); border-color:var(--color-watchapedia);}
#watchapedia .bg_circle {background-image:linear-gradient(150deg, rgb(223 170 188) 35%,rgb(220 220 220) 65%);}
/* 
clone, graphic section 공통
*/
.clone_graphic_section {background: #111;}
.clone_graphic_section .contents {
    display:flex; flex-flow:row nowrap; align-items: center;
    justify-content: center; gap:60px;
    width:100%; max-width:1400px; padding:30px 40px 0; margin:0 auto;
}
.clone_graphic_section .contents h1 {
    font-family: 'Montserrat'; font-weight: 700; font-size: 2.5rem; color: #FFFFFF;
    font-weight: 700; font-size: 2.5rem; color: #FFFFFF;
    width: min-content; white-space: nowrap;
}
.clone_graphic_section .contents .grid-container {display:grid; gap:24px;}
.clone_graphic_section .contents .grid-container .grid-item {
    background-size: cover; background-repeat: no-repeat;
    background-position:top;  transition:.3s;
}
.clone_graphic_section .contents .grid-container .grid-item:hover {transform:scale(1.03);}


/*
clone
*/
#clone {}
#clone .contents {}
#clone .contents h1 {}
#clone .contents .grid-container {
    grid-template-rows: repeat(2,16vw);
    grid-template-columns: repeat(2,28vw);
    grid-template-areas:
    'item1 item2'
    'item1 item2'
    ;
}
#clone .contents .grid-container .grid-item {position:relative; overflow: hidden;}
#clone .contents .grid-container .grid-item::after {
    display:block; content:''; position:absolute; bottom:0;
    width:100%; height:100%; transition:.3s; 
}
#clone .contents .grid-container .grid-item:hover::after {backdrop-filter: grayscale(1) brightness(.6);}
#clone .contents .grid-container .grid-item .info {
    position:absolute;  z-index: 1; bottom:0; width:100%;
    display:flex; flex-flow: row nowrap; justify-content: space-between; align-items: flex-end;
    padding:20px; transform: translateY(100%); transition:.4s;
}
#clone .contents .grid-container .grid-item:hover .info {transform: translateY(0);}
#clone .contents .grid-container .grid-item .info .txt {color:#fff;}
#clone .contents .grid-container .grid-item .info .txt h2 {font-size:1.125rem; font-family:'Montserrat'; font-weight:500;}
#clone .contents .grid-container .grid-item .info .txt p {font-size:0.875rem; opacity:.8; margin-top:8px;}
#clone .contents .grid-container .grid-item .info .link {display:flex; gap:10px; align-items: center;}
#clone .contents .grid-container .grid-item .info .link a {
    padding:8px 12px; border-radius:5px;
    font-family: 'Montserrat'; font-size: 0.875rem; font-weight:500;
    border:2px solid; border-top-width: 1px; border-left-width: 1px;
    transition:.3s; color:#fff;
}
#clone .contents .grid-container .grid-item .info .link a:hover {background:rgba(0,0,0,.5); border-color:rgba(0,0,0,.5);}
/* clone 개별 */
#clone .contents .grid-container .grid-item.item1 {grid-area:item1; background-image: url(../images/clone_car_history_desktop.jpg);}
#clone .contents .grid-container .grid-item.item2 {grid-area:item2; background-image: url(../images/clone_grand_hotel_desktop.jpg);}
#clone .contents .grid-container .grid-item.item3 {grid-area:item3; background-image: url(../images/clone_coupang_desktop.jpg);}
#clone .contents .grid-container .grid-item.item4 {grid-area:item4; background-image: url(../images/clone_parrot_desktop.jpg);}
#clone .contents .grid-container .grid-item.item1 .info {background:#189BFA;}
#clone .contents .grid-container .grid-item.item2 .info {background:#B29D95;}
#clone .contents .grid-container .grid-item.item3 .info {background:#bd1c0a;}
#clone .contents .grid-container .grid-item.item4 .info {background:#fa590f;}


/*
graphic
*/
#graphic {}
#graphic .contents {}
#graphic .contents h1 {}
#graphic .contents .grid-container {
    grid-template-rows: repeat(2,16vw);
    grid-template-columns: repeat(3,16vw);
    grid-template-areas:
    'item1 item3 item4'
    'item2 item3 item4'
    ;
}
#graphic .contents .grid-container .grid-item {filter:grayscale(1) contrast(0.8);}
#graphic .contents .grid-container .grid-item:hover {filter:grayscale(0) contrast(1);}
#graphic .contents .grid-container .grid-item.item1 {grid-area:item1; background-image: url(../images/graphic04.jpg);}
#graphic .contents .grid-container .grid-item.item2 {grid-area:item2; background-image: url(../images/graphic03.jpg);}
#graphic .contents .grid-container .grid-item.item3 {grid-area:item3; background-image: url(../images/graphic02.jpg);}
#graphic .contents .grid-container .grid-item.item4 {grid-area:item4; background-image: url(../images/graphic01.jpg);}

/*
modal popup 공통
*/
.modal_popup_bg {
    background:#000000dd;
    position:fixed;
    top:0; left:0; width:100%; height:100%; z-index: 900;
    display:none;
}
.modal_popup_bg .container{
    position:fixed;
    left:50%; transform:translateX(-50%);
    width:90%;
    top: 60px; height: calc(100% - 60px);
    display:flex; flex-flow:column nowrap; gap:20px;
}
.modal_popup_bg .container .title_btn_container {
    display:flex; justify-content: space-between; align-items: center; 
}
.modal_popup_bg .container .title_btn_container .title {
    color:#fff; font-size:0.875rem; color:#ffffff77;
    display:flex; flex-flow:row wrap; gap:8px;
}
.modal_popup_bg .container .title_btn_container .title span:nth-child(1) {
    font-weight:500; font-size:1rem; color:#ffffffaa;
}
.modal_popup_bg .container .title_btn_container .close_btn {padding:12px; transition:.3s}
.modal_popup_bg .container .title_btn_container .close_btn:hover {transform: scale(1.3);}
.modal_popup_bg .container .title_btn_container .close_btn img {filter:invert();}
.modal_popup_bg .container .img_container {width:100%; overflow-y: scroll; /* 상하 스크롤 */}
.modal_popup_bg .container .img_container img {width:100%;}
/* scrollbar */
.modal_popup_bg .container .img_container::-webkit-scrollbar {width: 10px;}
.modal_popup_bg .container .img_container::-webkit-scrollbar-track {background: #000000;  }
.modal_popup_bg .container .img_container::-webkit-scrollbar-thumb {background: #fff; border:4px solid #000; border-top:0; border-bottom:0;}
.modal_popup_bg .container .img_container::-webkit-scrollbar-thumb:hover {background: #555;}

/*
modal popup 개별
*/

/* graphic */
#graphic .modal_popup_bg .container1 {max-width:750px;}
#graphic .modal_popup_bg .container2 {max-width:750px;}
#graphic .modal_popup_bg .container3 {max-width:1000px;}
#graphic .modal_popup_bg .container4 {max-width:900px;}

/* web_section */
.web_section .modal_popup_bg .container{max-width:1200px;}
.web_section .modal_popup_bg .container .img_container {height:100%; overflow:hidden;}
.web_section .modal_popup_bg .container .img_container iframe {width:98%; height:80%; border:0;}
